body {
  background: linear-gradient(-147deg, #131312 37%, #009fff 84%,#a6ff06 99%);
}

.app {
  padding: 1rem 6%;
  font-size: 1.4rem;
  color:#fff;
  font-family: Helvetica;
  line-height: 1.4;
}

.image {
 background-image: url("../images/logo3.png");
 width: 80px;
  height: 50px;
  background-size: cover;
  margin: auto;
  margin-block-start: 2rem;
}